HTML, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Abyssinica SIL', serif;
  height:100%;
  width:100%;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.img-cropper {
  min-width: 200px;
  height: 250px;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-position: 47.5% 35%;
  background-size: 275%;
  background-image: url(./assets/images/jana.jpg);
  border: 5px solid lightgray;
}

.profile-pic {
  height: 400px;
  width: auto;
}

.vertical-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon-div {
  font-size: 3rem;
  max-width: 100px;
  height: 115px;
}

.skill-div {
  border-radius: 100px;
}

.illustration {
  width: 300px;
  height: auto;
}

.typography {
  width: 200px;
  height: auto;
}

.mobile-menu {
  display: none;
}

.contact {
  border: 5px dotted black;
  border-radius: 50%;
  height: 450px;
  width: 450px;
}

.first-name-nav {
  margin-top: -20px;
}

.nav-logo {
  margin-top: -20px;
}

.arrow-btn {
  border: none;
  width: 20px;
  padding: 5px;
}

input {
  height: 35px;
}

textarea {
  height: 100px;
  width: 200px;
}

.project-scroll {
  display: none;
}

.small-screen {
  display: none;
}

.skill-icon {
  font-size: 50px;
}

@media screen and (max-width: 767px) {
  .big-screen {
    display: none;
  }

  .small-screen {
    display: block;
  }
}

@media screen and (max-width: 720px) {

  .project-regular {
    display: none !important;
  }

  .project-scroll {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .full-nav {
    display: none;
  }

  .hamburger {
    font-size: 25px;
  }

  .header {
    margin-top: 10px !important;
  }

  .mobile-menu {
    display: block;
  }

  .nav-logo {
    margin-top: -40px;
    margin-left: -60px;
  }
}

@media screen and (max-width: 462px) {
  .contact {
    width: 90vw;
    height: 90vw;
  }
}
